<%- include('partials/header') %>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header text-center">
                <br>
                <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
                <br>
            </div>
            <div class="card-body">
                <form action="" method="get">
                    <input type="hidden" name="page" value="1">
                    <div class="row mb-3 form-switch">
                        <input class="form-check-input" type="checkbox" name="stringCheck" <%=query.stringCheck=='on'
                            ? 'checked' : '' %> >
                        <label for="string" class="form-check-label col-sm-2">String</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="string" placeholder="Tulis String"
                                value="<%=query.string != 'undefined' ? query.string : '' %>">
                        </div>
                    </div>

                    <div class="row mb-3 form-switch">
                        <input class="form-check-input" type="checkbox" name="integerCheck" <%=query.integerCheck=='on'
                            ? 'checked' : '' %> >
                        <label for="integer" class="form-check-label col-sm-2">Integer</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="integer" placeholder="Tulis Integer"
                                value="<%=query.integer%>">
                        </div>
                    </div>

                    <div class="row mb-3 form-switch">
                        <input class="form-check-input" type="checkbox" name="floatCheck" <%=query.floatCheck=='on'
                            ? 'checked' : '' %>>
                        <label for="float" class="form-check-label col-sm-2">Float</label>
                        <div class="col-sm-10">
                            <input type="number" name="float" class="form-control" placeholder="Tulis Float"
                                step="0.005" value="<%=query.float%>">
                        </div>
                    </div>

                    <div class="row mb-3 form-switch">
                        <input class="form-check-input" type="checkbox" name="dateCheck" <%=query.dateCheck=='on'
                            ? 'checked' : '' %> >
                        <label for="date" class="form-check-label col-sm-2" for="date">Date</label>
                        <div class="col-sm-2">
                            <input type="date" name="startDate" class="form-control" placeholder="Tulis Date"
                                value="<%=query.startDate%>">
                            <label class="col-sm-2 col-form-label">to</label>
                            <input type="date" name="endDate" class="form-control" placeholder="Tulis Date"
                                value="<%=query.endDate%>">
                        </div>
                    </div>



                    <div class="row mb-3 form-switch">
                        <input class="form-check-input" type="checkbox" name="booleanCheck" <%=query.booleanCheck=='on'
                            ? 'checked' : '' %> >
                        <label for="boolean" class="form-check-label col-sm-2">Boolean</label>
                        <div class="col-sm-10">
                            <select id="boolean" name="boolean" class="form-select">
                                <option value="" disabled selected>--Choose Boolean--</option>
                                <option value="True" <%=query.boolean=="True" ? ' selected ' : '' %>>True</option>
                                <option value="False" <%=query.boolean=="False" ? ' selected ' : '' %>>False</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Cari</button>
                        <a href="/" class="btn btn-warning">Reset</a>
                    </div>
                </form>
                <br>
            </div>

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>
                            ID
                        </th>


                        <th>
                            <a href="<%=`/?page=${page}${filter}`%><%= sortBy == 'string' && sortMode ==1 ? "
                                &sortBy=string&sortMode=-1" : "&sortBy=string&sortMode=1" %>">
                                <i
                                    class="fa-solid fa-<%= query.sortBy == 'string' ? query.sortMode ==1 ? 'arrow-up-a-z' : 'arrow-up-z-a' : 'sort' %>"></i>
                                String
                            </a>
                        </th>


                        <th>
                            <a href="<%=`/?page=${page}${filter}`%><%= sortBy == 'integer' && sortMode ==1 ? "
                                &sortBy=integer&sortMode=-1" : "&sortBy=integer&sortMode=1" %>">
                                <i
                                    class="fa-solid fa-<%= query.sortBy == 'integer' ? query.sortMode ==1 ? 'arrow-up-1-9' : 'arrow-up-9-1' : 'sort' %>"></i>
                                Integer
                            </a>
                        </th>


                        <th>
                            <a href="<%=`/?page=${page}${filter}`%><%= sortBy == 'float' && sortMode == 1 ? "
                                &sortBy=float&sortMode=-1" : "&sortBy=float&sortMode=1" %>">
                                <i
                                    class="fa-solid fa-<%= query.sortBy == 'float' ? query.sortMode == 1 ? 'arrow-up-1-9' : 'arrow-up-9-1' : 'sort' %>"></i>
                                Float
                            </a>
                        </th>

                        <th>
                            <a href="<%=`/?page=${page}${filter}`%><%= sortBy == 'date' && sortMode == 1 ? "
                                &sortBy=date&sortMode=-1" : "&sortBy=date&sortMode=1" %>">
                                <i
                                    class="fa-solid fa-<%= query.sortBy == 'date' ? query.sortMode == 1 ? 'arrow-up-short-wide' : 'arrow-up-wide-short' : 'sort' %>"></i>
                                Date
                            </a>
                        </th>


                        <th>
                            <a href="<%=`/?page=${page}${filter}`%><%= sortBy == 'boolean' && sortMode == 1 ? "
                                &sortBy=boolean&sortMode=-1" : "&sortBy=boolean&sortMode=1" %>">
                                <i
                                    class="fa-solid fa-<%= query.sortBy == 'boolean' ? query.sortMode == 1 ? 'xmark' : 'check' : 'sort' %>"></i>
                                Boolean
                            </a>
                        </th>


                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% data.forEach((item, index)=> { %>
                        <tr>
                            <td>
                                <%=item._id%>
                            </td>
                            <td>
                                <%=item.string%>
                            </td>
                            <td>
                                <%=item.integer%>
                            </td>
                            <td>
                                <%=item.float%>
                            </td>
                            <td>
                                <%=moment(item.date).format('DD /MM/YYYY')%>
                            </td>
                            <td>
                                <%= item.boolean%>
                            </td>
                            <td>
                                <a href="/edit/<%= item._id %>" class="btn btn-success"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <a href="/delete/<%= item._id %>" class="btn btn-danger"><i
                                        class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/add" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> ADD</a>
                    </div>
                    <div class="col-md-10">
                        <nav aria-label="...">
                            <ul class="pagination">

                                <li class="page-item">
                                    <%if (page !=1 ) { %>
                                        <a class="page-link"
                                            href="<%=url.replace(`page=${page}`,`page=${parseInt(page)-1}`)%>">Previous</a>
                                        <% } %>
                                </li>

                                <% for (let i=1; i <=pages; i++) { %>
                                    <li class="page-item <%= i == page ? 'active' : '' %>" aria-current="page">
                                        <a class="page-link" href="<%=url.replace(`page=${page}`,`page=${i}`) %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>


                                        <li class="page-item">
                                            <%if (page <=pages && page !=pages) { %>
                                                <a class="page-link"
                                                    href="<%=url.replace(`page=${page}`,`page=${parseInt(page)+1}`)%>">Next</a>
                                                <% } %>
                                        </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>